@font-face {
  font-style: normal;
  font-family: "HarmonyOS Sans SC";
  /* src: url("https://picgo.ddvlhr.red/fonts/HarmonyOS_Sans_SC/HarmonyOS_Sans_SC_Regular.ttf"); */
  src: url("/fonts/HarmonyOS_Sans_SC/HarmonyOS_Sans_SC_Regular.ttf");
}

html,
body,
.markdown-body {
  font-family: -apple-system, "Nimbus Roman No9 L", "PingFang SC",
    "Hiragino Sans GB", "HarmonyOS Sans SC", "Microsoft Yahei",
    "WenQuanYi Micro Hei", "ST Heiti", serif;
  /* font-family: "HarmonyOS Sans SC"; */
  font-size: 18px;
}
